@namespace url("http://www.w3.org/1999/xhtml");

/* Unfortunately, these styles affect about:addons (slightly uggo scrolling
and layout issues) and about:preferences (still looks ok, only theoretically
affected) a bit. */

.moz-text-html, .moz-text-plain, .moz-text-flowed, .invitation-table,
.moz-text-html *, .moz-text-plain *, .moz-text-flowed *, .invitation-table * {
  font-size: 10pt !important;
  color: #000 !important;
  background-color: transparent !important;
  background-image: none !important;
  width: auto !important;
  height: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1.2rem !important;
  overflow-wrap: break-word;
}

/* Align with From/To/Subject headers above (any additional header that runs
longer than these defaults will change the width of the header table's first
column and thus upset the rhythm, making this look like a weirdly wide
margin; in addition HTML mail with tables will also cause issues because the
tables have their own indents) */
.moz-text-html, .moz-text-plain, .moz-text-flowed, .invitation-table {
  margin-left: 3.4rem !important;
}

p {
  margin-bottom: 0.5rem !important;
}

/* For Quote Colors add-on */
.moz-text-html blockquote,
.moz-text-plain blockquote,
.moz-text-flowed blockquote {
  padding-top: .3rem !important;
  padding-bottom: .3rem !important;
  padding-left: 1rem !important;
  background-color: rgba(175,175,175,.1) !important;
  border-left-style: solid !important;
  border-left-width: 0.2rem !important;
  margin: 0.5rem 0 !important;
}
/* Tango colors, I still loikem. */
.moz-text-html blockquote,
.moz-text-plain blockquote,
.moz-text-flowed blockquote {
  border-color: #75507B !important;
  color: #5C3566 !important;
}
.moz-text-html blockquote blockquote,
.moz-text-plain blockquote blockquote,
.moz-text-flowed blockquote blockquote {
  border-color: #3465A4 !important;
  color: #204A87 !important;
}
.moz-text-html blockquote blockquote blockquote,
.moz-text-plain blockquote blockquote blockquote,
.moz-text-flowed blockquote blockquote blockquote {
  border-color: #CC0000 !important;
  color: #A40000 !important;
}
.moz-text-html blockquote blockquote blockquote blockquote,
.moz-text-plain blockquote blockquote blockquote blockquote,
.moz-text-flowed blockquote blockquote blockquote blockquote {
  border-color: #555753 !important;
  color: #2E3436 !important;
}
.moz-text-html blockquote blockquote blockquote blockquote blockquote,
.moz-text-plain blockquote blockquote blockquote blockquote blockquote,
.moz-text-flowed blockquote blockquote blockquote blockquote blockquote {
  border-color: #888A85 !important;
  color: #555753 !important;
}

.moz-text-html li,
.moz-text-plain li,
.moz-text-flowed li,
.invitation-table li {
  margin-left: 2rem !important;
  margin-bottom: 0.25rem !important;
}

.moz-text-html a[href],
.moz-text-plain a[href],
.moz-text-flowed a[href],
.invitation-table a[href] {
  color: #204A87 !important;
  position: relative !important;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
}
.moz-text-html a[href] *,
.moz-text-plain a[href] *,
.moz-text-flowed a[href] *,
.invitation-table a[href] * {
  color: inherit !important;
}


/* Show URL next to links */
/* Try to match Adwaita as much as possible */
.moz-text-html a[href]:hover,
.moz-text-plain a[href]:hover,
.moz-text-flowed a[href]:hover,
.invitation-table a[href]:hover {
  z-index: 9001;
}
.moz-text-html a[href]:hover::after,
.moz-text-plain a[href]:hover::after,
.moz-text-flowed a[href]:hover::after,
.invitation-table a[href]:hover::after {
  content: attr(href);
  font-family: 'Cantarell' !important;
  text-decoration: none !important;
  font-style: normal !important;
  font-weight: normal !important;
  display: inline-block !important;
  position: absolute !important;
  z-index: 9000 !important;
  top: 2rem !important;
  left: 1.5rem !important;
  border: none !important;
  border-radius: .5rem !important;
  padding: 1rem;
  background-color: rgba(0,0,0,0.8) !important;
  min-width: 25rem;
  max-width: 40rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: #FFF !important;
  text-decoration: none !important;
  font-size: 6.5pt !important;
}

/* Make it easier to find Teams/GTM/GTW/Zoom/... join URLs */
.moz-text-html a[href^='https://teams.microsoft.com/l/meetup-join/']::before,
.moz-text-plain a[href^='https://teams.microsoft.com/l/meetup-join/']::before,
.moz-text-flowed a[href^='https://teams.microsoft.com/l/meetup-join/']::before,
.invitation-table a[href^='https://teams.microsoft.com/l/meetup-join/']::before,
.moz-text-html a[href^='https://attendee.gotowebinar.com/register/']::before,
.moz-text-plain a[href^='https://attendee.gotowebinar.com/register/']::before,
.moz-text-flowed a[href^='https://attendee.gotowebinar.com/register/']::before,
.invitation-table a[href^='https://attendee.gotowebinar.com/register/']::before,
.moz-text-html a[href^='https://global.gotomeeting.com/join/']::before,
.moz-text-plain a[href^='https://global.gotomeeting.com/join/']::before,
.moz-text-flowed a[href^='https://global.gotomeeting.com/join/']::before,
.invitation-table a[href^='https://global.gotomeeting.com/join/']::before,
.moz-text-html a[href^='https://zoom.us/j/']::before,
.moz-text-plain a[href^='https://zoom.us/j/']::before,
.moz-text-flowed a[href^='https://zoom.us/j/']::before,
.invitation-table a[href^='https://zoom.us/j/']::before {
  content: 'join';
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  background-color: #75507B;
  text-align: center;
  border-radius: 50%;
  color: #FFF;
  font-weight:bold;
}

/* Invitations */
.invitation-table {
  border: none !important;
  background-color: rgba(200,200,200,.15) !important;
  border-radius: .5rem !important;
  max-width: 60rem !important;
}
.invitation-table td {
  padding: 0 0.5rem !important;
}
.invitation-table * {
  border: none !important;
  text-align: left !important;
}
.invitation-table td.description, td.content {
  display: block !important;
}
.invitation-table td.description {
  margin-top: .75rem !important;
}
.invitation-table td.description * {
  color: #5C3566 !important;
  font-weight: normal !important;
}
.invitation-table #attendee-table td:first-of-type,
.invitation-table #organizer-table td:first-of-type {
  display: none;
}
.invitation-table #attendee-table td.attendee-name,
.invitation-table #organizer-table td.attendee-name {
  padding: 0 !important;
}
#imipHtml-header-row th {
  background-color: rgb(230,230,230) !important;
  padding: 0.75rem 0.5rem !important;
  border-radius: .5rem !important;
  display: block !important;
  position: relative;
  /* The following works, optically, but it does not make much sense.
  (Compensates for displaying table contents as block elements) */
  margin: -.1rem !important;
  top: -0.1rem;
}
#imipHtml-header-row th * {
  color: #5C3566 !important;
  padding: 0rem !important;
  margin: 0rem !important;
}


/* Unnecessary links ("Go to top") & confusing links (Teams stuff) */
a[href^='#Top'], a[href^='#top'],
a[href^='https://aka.ms/JoinTeamsMeeting'], a[href^='https://teams.microsoft.com/meetingOptions/'],
img {
  display: none !important;
}

/* HTML margins, defined last */
html {
  max-width: 60rem !important;
  margin: 0.5rem !important;
}

/* Gutter at 72 characters, unfortunately also affects the view mode. I have
not yet found a workaround without side effects (such as hiding some message
text). */
html {
  background-color: rgba(200,200,200,.15) !important;
}
html::before {
  content: '123456789012345678901234567890123456789012345678901234567890123456789012';
  border-right: 1px solid rgba(200,200,200,.5) !important;
  color: transparent !important;
  height: 10000px;
  background-color: #FFF !important;
  z-index: -2;
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  /* Must be updated along with the html{margin} value */
  padding-left: 0.5rem !important;
}

/* This was a nice idea, but unfortunately <br>s cannot be styled much in
Mozilla (unlike in Blink-based software), so it's mostly useless. */
/*p::after, div::after {
  content: '↩' !important;
  color: #0FF !important;
  display: inline-block !important;
}*/
/* I guess I'll recognize breaks from minor line-height differences then..?
(margin is the only property that br supports, according to MDN.) */
br {
  margin-bottom: 0.5rem !important;
}
