/* CHROME */

/* Tab Center Reborn tweaks, https://framagit.org/ariasuni/tabcenter-reborn/-/wikis/home#userchromecss-tweaks */
#TabsToolbar:not([customizing="true"]) {
  visibility: collapse !important;
}
#sidebar-box[sidebarcommand="tabcenter-reborn_ariasuni-sidebar-action"] #sidebar-header {
  visibility: collapse;
}

/* Display PfP in popup windows without real toolbar too. */
#easypasswords_palant_de-browser-action {
  display: -moz-box !important;
}
