/* What is this good for? Makes it more obvious which version of the DocBook
TDG you are looking at by putting a big version number in the page
background. */

@-moz-document url-prefix(https://tdg.docbook.org/tdg/)
{
  body
  {
    position: relative;
  }

  body::after
  {
    color: rgba(0,0,0,0.08);
    font-size: 30em;
    position: fixed;
    top: 30px;
    right: 30px;
  }
}

@-moz-document url-prefix(https://tdg.docbook.org/tdg/5.1/)
{
  body::after
  {
    content: '5.1';
  }
}

@-moz-document url-prefix(https://tdg.docbook.org/tdg/5.2/)
{
  body::after
  {
    content: '5.2';
  }
}

@-moz-document url-prefix(https://tdg.docbook.org/tdg/4.5)
{
  body::after
  {
    content: '4.5';
  }
}
