@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain(mail.google.com)
{

  .g6, .y2, .LW-avf, .ii.gt.adP *, .ii.gt.adO *, .GQ:before {
    font-family: 'Droid Sans Mono', Menlo, Consolas, monospace !important;
    background-color: transparent !important;
    font-size: 13px !important;
    color: #222 !important;
    /* Linux users that aren't using the "No Hinting" option and thus get
       an overscaled and unsightly bold version of Droid Sans Mono, please
       remove the comment around the following line.*/
    /* font-weight: normal !important; */
  }

  .ii.gt.adP a[href], .ii.gt.adO a[href] {
      color: rgb(17, 85, 204) !important;
      text-decoration: underline !important;
      display: inline-block;
      height: 1.2em;
      max-width: 70%;
      vertical-align: middle;
      margin-top: -2px;
      overflow: hidden;
  }

  .ii.gt.adP hr, .ii.gt.adO hr {
      border: none !important;
      height: 1.2em;
  }

  .ii.gt.adP hr:before, .ii.gt.adO hr:before {
      content: "--";
      height: 1.2em;
      display: block;
  }

  .ii.gt.adP table, .ii.gt.adP td, .ii.gt.adP th,
  .ii.gt.adO table, .ii.gt.adO td, .ii.gt.adO th {
      border: none;
      text-align: left !important;
      padding: 0 !important;
      margin: 0 !important;
      line-height: 1.1em !important;
  }

  /* The backslash-0 things need to be escaped for the echo that we execute.
  faceplum. */
  .ii.gt.adP td:after, .ii.gt.adP th:after,
  .ii.gt.adO td:after, .ii.gt.adO th:after {
      content: '\\00A0|\\00A0';
      float: right;
      font-weight: normal !important;
      font-style: normal !important;
      text-decoration: none !important;
  }


  .ii.gt.adP td:first-child:before, .ii.gt.adP th:first-child:before,
  .ii.gt.adO td:first-child:before, .ii.gt.adO th:first-child:before {
      content: '|\\00A0';
      font-weight: normal !important;
      font-style: normal !important;
      text-decoration: none !important;
  }


  .LW-avf {
      position: relative;
      z-index: 200;
      padding: 0 0 0 3px;
  }

  .iN {
      position: relative;
  }

  .GQ:before {
      content: '12345678901234567890123456789012345678901234567890123456789012345678901234567890';
      border-right: 1px solid rgba(200,200,200,.75) !important;
      color: transparent !important;
      height: -moz-calc(100% - 46px);
      max-width: -moz-calc(100% - 16px);
      background-color: #FFF !important;
      z-index: 0;
      position: absolute;
      top: 1px;
      left: 2px;
      margin: 0;
      padding: 0 0 0 13px;
      font-size: 13px !important;
  }

  .GQ {
      background-color: rgba(200,200,200,0.05) !important;
      margin: 1px;
  }


  .GQ * {
      background-color: transparent !important;
  }

  .dw > div > .nH > .nH > .no > .nH.nn:nth-last-child(2) > .no > .nH.nn {
      width: 680px !important;
  }

  .dw > div > .nH > .nH > .no > .nH.nn:nth-last-child(2) {
      width: 685px !important;
  }

  .ii.gt.adP  .im, .ii.gt.adP blockquote.gmail_quote,
  .ii.gt.adP blockquote.gmail_quote *,
  .ii.gt.adP blockquote.gmail_quote a,
  .ii.gt.adO .im, .ii.gt.adO blockquote.gmail_quote,
  .ii.gt.adO blockquote.gmail_quote *,
  .ii.gt.adO blockquote.gmail_quote a {
      color: #500050 !important;
  }

  .ii.gt.adP .gmail_quote, .ii.gt.adP blockquote,
  .ii.gt.adO .gmail_quote, .ii.gt.adO blockquote {
      border-color: #500050 !important;
  }

}
