@-moz-document url-prefix("https://login.microsoftonline.com/login.srf") {
/* Make the "Stay Logged In Forever" prompt less annoying */

input#idBtn_Back {
  display: block !important;
  position: fixed !important;
  top: 10px !important;
  left: 10px !important;
  box-sizing: border-box !important;
  width: calc(100% - 20px) !important;
  height: calc(100% - 20px) !important;
  background-color: #333 !important;
  color: #FFF !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  text-align: center !important;
  font-size: 24px !important;
  line-height: 30px !important;
  z-index: 9000 !important;
}

input#idBtn_Back:hover {
  background-color: #666;
  color: #FFF;
  text-decoration: none;
}

input#idBtn_Back:active, input#idBtn_Back:focus {
  background-color: #666;
  color: #FFF;
  text-decoration: none;
}

input#idBtn_Back::before {
  width: 100%;
  height: calc(50% - (30px / 2));
  content: '';
  display: block;
}

}


@-moz-document url-prefix("https://wd3.myworkday.com/wday/authgwy/") {
/* Make the "Remember Device" prompt less annoying */

.css-1o8kyg5-ButtonAsLink {
  display: block !important;
  position: fixed !important;
  top: 10px !important;
  left: 10px !important;
  box-sizing: border-box !important;
  width: calc(100% - 20px) !important;
  height: calc(100% - 20px) !important;
  background-color: #333 !important;
  color: #FFF !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  text-align: center !important;
  font-size: 24px !important;
  line-height: 30px !important;
}

.css-1o8kyg5-ButtonAsLink:hover, .css-1o8kyg5-ButtonAsLink:active, .css-1o8kyg5-ButtonAsLink:focus {
  background-color: #666 !important;
  color: #FFF !important;
  text-decoration: none !important;
}

}
