@-moz-document url-prefix("https://bugzilla.suse.com") {

/* What is this good for? Reminds you to log in to SUSE Bugzilla in fairly
obvious way (that is, a big dark gray block that says "Log in to this page").
*/

#error_msg > a {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  box-sizing: border-box;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background-color: #333;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
}

#error_msg > a:hover {
  background-color: #666;
  color: #FFF;
  text-decoration: none;
}

#error_msg > a:active, #error_msg > a:focus {
  background-color: #666;
  color: #FFF;
  text-decoration: none;
}

#error_msg > a::before {
  width: 100%;
  height: calc(50% - (30px / 2));
  content: '';
  display: block;
}

}
